<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 登录期间把进程钉在前台，保证浏览器能连上本机回调 server。 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SHORT_SERVICE"/>

    <application
        android:label="CC Trace"
        android:name="${applicationName}"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="cctrace"
                    android:host="oauth-finished"/>
            </intent-filter>
            <!--
                loopback 回调的兜底通路。Firefox 一类浏览器不会自己加载
                http://localhost:…，而是拦下来问「用哪个应用打开」；不声明这两个
                filter，选择器里就只有钉钉和浏览器，本应用反而进不去，授权码要么
                丢失、要么落到无关应用手里。

                localhost 无法做 autoVerify（放不了 assetlinks.json），所以选择器
                消不掉，但至少 CC Trace 在里面。端口与路径按 Provider 分开写，
                避免多个 data 元素被 Android 交叉组合成额外的合法地址。
            -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="localhost" android:port="1455" android:path="/auth/callback"/>
                <data android:scheme="http" android:host="localhost" android:port="1457" android:path="/auth/callback"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="localhost" android:port="41999" android:path="/callback"/>
                <data android:scheme="http" android:host="localhost" android:port="41998" android:path="/callback"/>
                <data android:scheme="http" android:host="localhost" android:port="41997" android:path="/callback"/>
            </intent-filter>
        </activity>
        <service
            android:name=".OAuthKeepAliveService"
            android:exported="false"
            android:foregroundServiceType="shortService"/>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <!-- 枚举设备上的浏览器供用户选择。缺了这条，Android 11+ 的包可见性会让
             默认浏览器识别失效，系统只能从「声明了 CustomTabsService 的包」里
             随便挑一个，登录页因此可能落在用户没登录过的冷门浏览器上。 -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
